PORT=3000

# Connection to PostgreSQL database (e.g. Supabase, Render, or Local Docker)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Authentication Security Tokens
JWT_SECRET="your-jwt-access-secret-key"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
