# compiled output
/dist
/node_modules

# NestJS build
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Env variables
.env

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-project
*.sublime-workspace
.project.json

# e2e tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
